{% extends 'base.html'%}

{% block content %}

<style>
        body {
        background-color:  #ffeed6;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
    }

    .logo-container {
        margin-top: 50px;
    }

    .logo {
        width: 200px;
        height: 200px;
        justify-content: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .card {
        width: 500px; /* Adjust the width here */
        background-color: #ffeed6;;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        padding: 30px;
    }

    .card-title {
        color: #333;
        text-align: center;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .input-group-text {
        background-color: #007bff;
        color: #fff;
    }

    .btn {
        width: 100%;
    }

   
</style>

<div class="container">
    <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="Logo" class="logo mb-4">
    <div class="card">
        <h4 class="card-title">طلب اجازة</h4>
        <form action="{{ url_for('user.add_vacation') }}" method="POST">
            <div class="form-group input-group">
                <label for="vactype" class="input-group-prepend mr-3" style="width: 100px;">نوع الاجازة:</label>
                <select id="type" name="type" class="form-control">
                    <option value="normal">اعتيادي</option>
                    <option value="casual">عارضة</option>
                    </select>
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <label for="employe_id" class="input-group-prepend mr-3" style="width: 100px;">الرقم الوظيفي:</label>
                <input id="employe_id" name="employe_id" class="form-control" type="text" value="{{username}}">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <label for="name" class="input-group-prepend mr-3" style="width: 100px;">الاسم:</label>
                <input id="name" name="name" class="form-control" type="text" value="{{name[0][0]}}">
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <label for="job_role" class="input-group-prepend mr-3" style="width: 100px;">الوظيفة:</label>
                <input id="job_role" name="job_role" class="form-control" type="text" value="{{job_role[0][0]}}">
            </div> <!-- form-group// -->
            
            <div class="form-group input-group">
                <label for="date" class="mr-3" style="width: 100px;">التاريخ:</label>
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
                </div>
                <input id="date" name="date" class="form-control" type="date">
            </div> <!-- form-group// -->
            
            <div class="form-group input-group">
                <label for="daysSelect" class="mr-3" style="width: 100px;">عدد الايام:</label>
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-clock"></i> </span>
                </div>
                <select id="no_of_days" name="no_of_days" class="form-control">
                    <option value="0.5">0.5</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <label for="from_date" class="mr-3" style="width: 100px;">من تاريخ:</label>
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-clock"></i> </span>
                </div>
                <input id="from_date" name="from_date" class="form-control" type="date">
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <label for="to_date" class="mr-3" style="width: 100px;">الي تاريخ:</label>
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-clock"></i> </span>
                </div>
                <input id="to_date" name="to_date" class="form-control" type="date">
            </div> <!-- form-group// -->

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">اضافة</button>
            </div> <!-- form-group// -->
        </form>
    </div>
    <div class="text-right mt-5">
        <a href="{{url_for('user.vacations')}}">
        <button class="btn btn-danger">رجوع</button></a>
    </div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% if 'username' in session and request.path == url_for('user.add_vacation') %}
            <div id="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{% endwith %}

<script>
    // Automatically remove flash messages after 5 seconds
    setTimeout(function() {
        var flashMessages = document.getElementById('flash-messages');
        if (flashMessages) {
            flashMessages.parentNode.removeChild(flashMessages);
        }
    }, 5000); // 5000 milliseconds = 5 seconds
</script>
    </script>
{% endblock content %}
