{% extends 'base.html'%}

{% block content %}

<style>
    body {
        background-color: #f5f5f5;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
    }

    .logo-container {
        margin-top: 50px;
    }

    .logo {
        width: 200px;
        height: 200px;
        justify-content: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .card {
        width: 500px; /* Adjust the width here */
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        padding: 30px;
    }

    .card-title {
        color: #333;
        text-align: center;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .input-group-text {
        background-color: #007bff;
        color: #fff;
    }

    .btn {
        width: 100%;
    }

   
</style>

<div class="container">
    <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="Logo" class="logo mb-4">
    <div class="card">
        <h4 class="card-title">طلب اجازة</h4>
        <form>
            <div class="form-group input-group">
                <label for="vactype" class="input-group-prepend mr-3" style="width: 100px;">نوع الاجازة:</label>
                <select id="daysSelect" name="daysSelect" class="form-control">
                    <option value="normal">اعتيادي</option>
                    <option value="casual">عارضة</option>
                    </select>
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <label for="employeeID" class="input-group-prepend mr-3" style="width: 100px;">الرقم الوظيفي:</label>
                <input id="employeeID" name="employeeID" class="form-control" type="text" value="{{username}}">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <label for="employeeName" class="input-group-prepend mr-3" style="width: 100px;">الاسم:</label>
                <input id="employeeName" name="employeeName" class="form-control" type="text" value="{{name[0][0]}}">
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <label for="jobRole" class="input-group-prepend mr-3" style="width: 100px;">الوظيفة:</label>
                <input id="jobRole" name="jobRole" class="form-control" type="text" value="{{job_role[0][0]}}">
            </div> <!-- form-group// -->
            
            <div class="form-group input-group">
                <label for="date" class="mr-3" style="width: 100px;">التاريخ:</label>
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
                </div>
                <input id="date" name="date" class="form-control" type="date">
            </div> <!-- form-group// -->
            
            <div class="form-group input-group">
                <label for="daysSelect" class="mr-3" style="width: 100px;">عدد الايام:</label>
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-clock"></i> </span>
                </div>
                <select id="daysSelect" name="daysSelect" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <label for="fromDate" class="mr-3" style="width: 100px;">من تاريخ:</label>
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-clock"></i> </span>
                </div>
                <input id="fromDate" name="fromDate" class="form-control" type="date">
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <label for="toDate" class="mr-3" style="width: 100px;">الي تاريخ:</label>
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-clock"></i> </span>
                </div>
                <input id="toDate" name="toDate" class="form-control" type="date">
            </div> <!-- form-group// -->

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">اضافة</button>
            </div> <!-- form-group// -->
        </form>
    </div>
</div>

<div class="text-right mt-5 pr-4">
    <a href="" class="btn-1 btn-danger">رجوع</a>
</div>

{% endblock content %}
