{% extends 'base.html'%}

{% block content %}


<head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<div class="container text-center logo-container">
    <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="Logo" class="logo mb-4">
    <h1 class="welcome-text">Welcome {{ name[0][0] }}</h1>
</div>

<div class="cardBox">
    <div class="card">
        <div class="iconBx">
            <ion-icon name="people-outline" style="font-size: 36px; color: #3b2a86;"></ion-icon>
        </div>
        <div class="cardName">الرقم الوظيفي</div>
        <div class="numbers">{{username}}</div>
    </div>
    <a href="attendance" style="text-decoration: none;">
        <div class="card">
            <div class="iconBx">
                <ion-icon name="calendar" style="font-size: 36px; color: #3b2a86;"></ion-icon>
            </div>
            <div class="cardName">حضور وانصراف</div>
            <div class="numbers">{{current_month}} شهر</div>
        </div>
    </a>
    <a href="missions" style="text-decoration: none;">
        <div class="card">
            <div class="iconBx">
                <ion-icon name="chatbubbles-outline" style="font-size: 36px; color: #3b2a86"></ion-icon>
            </div>
            <div class="cardName">مأموريات</div>
            <div class="numbers">{{current_month}} شهر</div>
        </div>
    </a>
    <a href="vacations" style="text-decoration: none;">
        <div class="card">
            <div class="iconBx">
                <ion-icon name="airplane" style="font-size: 36px; color: #3b2a86;"></ion-icon>
            </div>
            <div class="cardName">أجازات</div>
            <div class="numbers">{{current_month}} شهر</div>
        </div>
    </a>
</div>

<!-- Logout button -->
<div class="text-center mt-5">
    <a href="{{url_for('auth.login')}}" class="btn btn-danger logout-btn">تسجيل الخروج</a>
</div>

{% endblock content %}
