{% extends 'base.html'%}

{% block content %}
{% set filename = 'مأموريات.xlsx' %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<div class="container text-center logo-container">
    <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="Logo" class="logo mb-4">
    <!-- <h1 class="welcome-text">Welcome {{name[0][0]}}</h1> -->
</div>

<div class="cardBox">
    <a href="add_mission" style="text-decoration: none;">
        <div class="card">
            <div class="iconBx">
                <ion-icon name="add-circle-outline" style="font-size: 36px; color: #007bff;"></ion-icon>
            </div>
            <div class="cardName">اضافة مأمورية</div>
            <div class="numbers"></div>
        </div>
    </a>
    <a href="view_missions" style="text-decoration: none;">
        <div class="card">
            <div class="iconBx">
                <ion-icon name="calendar" style="font-size: 36px; color: #007bff;"></ion-icon>
            </div>
            <div class="cardName">عرض مأموريات</div>
            <div class="numbers">{{current_month}}</div>
        </div>
    </a>
    <a href="mission_requests" style="text-decoration: none;">
        <div class="card">
            <div class="iconBx">
                <ion-icon name="calendar" style="font-size: 36px; color: #007bff;"></ion-icon>
            </div>
            <div class="cardName">طلبات</div>
            <div class="numbers">{{current_month}}</div>
        </div>
    </a>
</div>

<div class="text-right mt-5">
    <a href="{{url_for('user.index')}}">
    <button class="btn btn-danger">رجوع</button></a>
</div>


{% endblock content %}
