{% extends 'base.html'%}

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<div class="container text-center logo-container">
<img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="Logo" class="logo mb-4">

</div>



<div class="attendance-user text-center">
    <div class="all-attendance-user text-center">
        <table id="vacationstable">
            <thead>
                <tr>
                    <th>الرقم الوظيفي</th>
                    <th>الاسم</th>
                    <th>الوظيفة</th>
                    <th>التاريخ </th>
                    <th>من</th>
                    <th>الي</th>
                    <th>سبب المأمورية</th>
                    <th>actions</th>
            


                        
                </tr>
            </thead>
            <tbody>
                {% for row in results %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>
                            {% if row[7] == 1 %}
                                Accepted
                            {% elif row[7] == 0 %}
                                Pending
                            {% elif row[7] == -1 %}
                                Rejected
                            {% endif %}
                        </td>
             
                  
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
