{% extends 'base.html'%}

{% block content %}


<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<div class="container text-center logo-container">
    <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="Logo" class="logo mb-4">
    <!-- <h1 class="welcome-text">Welcome {{name[0][0]}}</h1> -->
</div>

<div class="attendance-user text-center">
    <div class="all-attendance-user text-center">
        <table id="attendanceTable">
            <thead>
                <tr>
                    <th>الرقم الوظيفي</th>
                    <th>الاسم</th>
                    <th>التاريخ</th>
                    <th>من</th>
                    <th>الي</th>
                    <th>سبب المأمورية</th>
                </tr>
            </thead>
            <tbody>
                {% for row in results %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="text-right mt-5">
    <a href="{{url_for('user.missions')}}">
    <button class="btn btn-danger">رجوع</button></a>
</div>

{% endblock content %}
