{% extends 'base.html'%}

{% block content %}
<style>
    body {
        background-color: #ffeed6;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
    }

    .card {
        background-color: #ffeed6; /* Lighter background color for the form */
        border: none; /* Remove default border */
        box-shadow: 0 0 40px rgba(0,0,0,0.1); /* Add shadow for depth */
        border-radius:50px; /* Add border radius for rounded corners */
    }

    .card-title {
        color: #333; /* Set color for the card title */
    }

    .form-control {
        background-color: #fff; /* Set background color for form inputs */
        border: none; /* Remove default input border */
        border-radius: 5px; /* Add border radius for rounded corners */
        box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Add shadow for depth */
    }

    .btn {
        background-color: #dc3545; /* Set background color for buttons */
        color: #fff; /* Set text color for buttons */
        border: none; /* Remove default button border */
        border-radius: 5px; /* Add border radius for rounded corners */
        box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Add shadow for depth */
    }

    .btn:hover {
        background-color: #c82333; /* Darker color on hover */
    }

</style>

<!-- Logo Section -->
<div class=" text-center logo-container">
    <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="Logo" class="logo mb-4">
    <h1 style="margin-bottom:30px"></h1>
</div>

<div class="container">

    
    
    
    
    <div class="card ">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">اضافة موظف</h4>
      
    <form action="{{ url_for('admin.add_employe') }}" method="POST">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input name="employeid" class="form-control" placeholder="الرقم الوظيفي" type="text">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
             </div>
            <input name="name" class="form-control" placeholder="الاسم" type="text">
        </div> <!-- form-group// -->

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input name ='job_role' class="form-control" placeholder="الوظيفة" type="text">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input name ='department' class="form-control" placeholder="القسم" type="text">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input name ='net_salary' class="form-control" placeholder="صافي المرتب" type="text">
        </div> <!-- form-group// -->                                      
        
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input name ='allowance' class="form-control" placeholder="بدلات" type="text">
        </div> <!-- form-group// -->          
        
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
        
            <input name="telephone" class="form-control" placeholder="رقم التليفون" type="text">
        </div> <!-- form-group// -->


        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input name ='qualification' class="form-control" placeholder="المؤهل الدراسي" type="text">
        </div> <!-- form-group// -->    
        
                <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input name ='national_id'class="form-control" placeholder="الرقم القومي" type="text">
        </div> <!-- form-group// -->    





        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input name ='address' class="form-control" placeholder="العنوان" type="text">
        </div> <!-- form-group// -->    
        
        
        
        
        
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block"> Add  </button>
        </div> <!-- form-group// -->      
                                                                     
    </form>

    </article>


    <div class="text-right mt-5 pr-3">
        <a href="{{url_for('admin.employes')}}" class="btn btn-danger">رجوع</a>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% if 'username' in session and request.path == url_for('admin.add_employe') %}
            <div id="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{% endwith %}

<script>
    // Automatically remove flash messages after 5 seconds
    setTimeout(function() {
        var flashMessages = document.getElementById('flash-messages');
        if (flashMessages) {
            flashMessages.parentNode.removeChild(flashMessages);
        }
    }, 5000); // 5000 milliseconds = 5 seconds
</script>


{% endblock content %}