<!-- upload.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container text-center logo-container">
    <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="Logo" class="logo mb-4">
    

    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="pdf_file">Upload PDF File</label>
            <input type="file" class="form-control-file" id="pdf_file" name="pdf_file" multiple>
        </div>
        <button type="submit" class="btn btn-success">Upload</button>
    </form>
</div>
{% endblock %}
