{% extends 'base.html'%}

{% block content %}

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<!-- Logo Section -->
<div class=" text-center logo-container">
    <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="Logo" class="logo mb-4">
    <h1 style="margin-bottom:30px"></h1>
</div>

<div class="vacations-container">
    <div class="vacations-admincard">
        <a href="all_vacations">
      <h3 class="title">كارتة اجازات</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="icon-container"> <!-- Added div for icon container -->
        <ion-icon name="airplane" class="icon"></ion-icon> <!-- Replace this with your icon -->
    </div>
        </a>
    </div>

    
    <div class="vacations-admincard">
            <a href="add_vacation">
          <h3 class="title">طلب اجازة</h3>
          <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <div class="icon-container"> <!-- Added div for icon container -->
            <ion-icon name="add-circle-outline" class="icon"></ion-icon> <!-- Replace this with your icon -->
        </div>
            </a>
    </div>


        
    <div class="vacations-admincard">
      <a href="vacation_requests">
    <h3 class="title">قبول طلب الاجازات</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="icon-container"> <!-- Added div for icon container -->
      <ion-icon name="add-circle-outline" class="icon"></ion-icon> <!-- Replace this with your icon -->
  </div>
      </a>
</div>
</div>
<div class="text-right mt-2 pr-8">
  <a href="{{url_for('admin.index')}}" class="btn btn-danger" style="margin-top: 300px;">رجوع</a>
</div>



{% endblock content %}