{% extends 'base.html'%}

{% block content %}
<style>
    body {
        background-color: #ffeed6;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
    }

    .logo-container {
        margin-top: 50px;
    }

    .logo {
        width: 200px;
        height: auto;
    }

    .welcome-text {
        font-size: 36px;
        color: #333;
        margin-top: 30px;
    }

    .cardBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-top: 50px;
        padding: 20px;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        padding: 30px;
        text-align: center;
        transition: all 0.3s ease;
        width: 300px;
        height: 400px;
    }

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    }

    .cardName {
        color: #007bff;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .numbers {
        color: #555;
        font-size: 20px;
    }

    .logout-btn {
        font-size: 20px;
        margin-top: 50px;
        background-color: #dc3545;
        border-color: #dc3545;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .logout-btn:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }

    /* Table styles */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 30px;
        table-layout: auto;
    }

    th, td , tr {
        padding: 15px; /* Increased padding for better spacing */
        text-align: center;
        border-bottom: 1px solid #ddd;
        font-size: 20px; /* Increased font size */
        font-weight: bold; 
        white-space: nowrap;
        border-right: 1px solid black;
    }

    th {
        background-color: #8b9474;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
    }

    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tbody tr:hover {
        background-color: #ddd; /* Highlight row on hover */
    }


</style>
<div class=" text-center logo-container">
    <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="Logo" class="logo mb-4">
    <h1 style="margin-bottom:30px"></h1>
</div>

{% if results %}
<table id="data-table">
    <thead>
        <tr>
            <!-- Updated column names -->
            <th>الرقم الوظيفي</th>
            <th>الاسم</th>
            <th>الوظيفة</th>
            <th>المرتب</th>
            <th>بدلات</th>
            <th>ساعات اضافية</th>
            <th>الاضافي</th>
            <th>اجمالي المرتب</th>
            <th>ايام بالخصم</th>
            <th>اجازة</th>
            <th>غياب</th>
            <th>تأخير</th>
            <th>اجمالي الاستقطاعات</th>
            <th>قيمة الاستقطاعات</th>
            <th>الصافي</th>
            <th>قيمة جزاء غياب</th>
            <th>جزاء اداري</th>
            <th>قيمة جزاء اداري</th>
            <th>خصومات</th>
            <th>سلف</th>
            <th>التأمينات الاجتماعية</th>
            <th>صندوق مكتب العمل</th>
            <th>موقوف</th>
            <th>ايام اضافية</th>
            <th>قيمة الايام الاضافية</th>
            <th>صافي المستحق</th>
            <th>طريقة القبض</th>
            <!-- Add more column names as needed -->
        </tr>
    </thead>
    <tbody>
        {% for row in results %}
            <tr>
                {% for value in row %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No data available</p>
{% endif %}
<script>
    // JavaScript to dynamically adjust column widths based on content
    function adjustColumnWidths() {
        var table = document.getElementById('data-table');
        var colCount = table.rows[0].cells.length;

        for (var i = 0; i < colCount; i++) {
            var maxWidth = 0;
            for (var j = 0; j < table.rows.length; j++) {
                var cell = table.rows[j].cells[i];
                var textWidth = cell.clientWidth;
                maxWidth = Math.max(maxWidth, textWidth);
            }
            table.rows[0].cells[i].style.width = maxWidth + 'px';
        }
    }

    // Call the function after the table is loaded or resized
    window.addEventListener('DOMContentLoaded', adjustColumnWidths);
    window.addEventListener('resize', adjustColumnWidths);
</script>
{% endblock content %}
