{% extends 'base.html'%}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<div class="login-container">
    <div class="logo-animation">
        <img src="{{url_for('static',filename='imgs/logo.png')}}" alt="Logo" class="logo">
    </div>
    <div class="form-animation">
        <!-- <h1 class="heading">Login</h1> -->
        <form form action="" method="post">
            <div class="mb-3">
                <!-- <label for="email" class="form-label text-primary">Employe ID</label> -->
                <input type="text" class="form-control" name = 'username' id="username" placeholder="Employee ID" value="{{request.form.username}}">
            </div>
            <div class="mb-5">
                <!-- <label for="password" class="form-label text-primary">Password</label> -->
                <input type="password" class="form-control" name = 'password' id="password" placeholder="Password" value ="{{request.form.password}}">
            </div>
            <div class="form-buttons">
                <button type="submit" class="btn">Login</button>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% if 'username' in session and request.path == url_for('auth.login') %}
                    <div id="flash-messages">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
        {% endwith %}
        </form>

    </div>
</div>

{% endblock content %}
